.env
discordBot/GPT_log.txt
database/pinecone_blocks.db
sourcesnbot/channels
sourcesnbot/users
database/data
database/channel_message_ids.txt
database/pinecone_blocks.db
database/global_chunk_counter.txt